{% extends 'base.html.twig' %}

{% block title %}Fiche stagiaire{% endblock %}

{% block body %}
<h1>fiche stagiaire</h1>

 <h2>{{stagiaire}}</h2>   <br>
 Date de naissance :{{stagiaire.dateNaissanceFormat}} ({{stagiaire.age}} ans) <br>
Sexe: {{stagiaire.sexe}}<br>
Ville: {{stagiaire.ville}}<br>
Numero de telephone: {{stagiaire.telephone}}<br>
E-mail : {{stagiaire.email}}<br>





<h3>Session prévues</h3>

{% for session in sessions %}
  
   
   <strong>{{session.intitule}}</strong>  (du {{session.dateDebutFormat}} au {{session.dateFinFormat}}    )
{% endfor %} 

{% endblock %}