{% extends 'base.html.twig' %}

{% block title %}Session {% endblock %}

{% block body %}
<H1> {{ session.intitule  }}</H1>
{{dump (session)}}
{#<p> Formateur:<a>{{formateur.prenom}} {{formateur.nom  }}</a></p>#}
{{session.formateur  }}

<H2> Programme </H2>

<div class="row">
    <div class="col-sm">
       Module
    </div>
    <div class="col-sm">
      nb Jour
    </div>
</div>
{{dump (programmes)}}
{% for programme in programmes %}

{# {{programme.module.idCategorie.nomCategorie}} #}
 
<div class="row">
    <div class="col-sm">
        {{ programme.module.nomModule}}
      
    </div>
    <div class="col-sm">
        {{ programme.nbJours}}
    </div>
</div> 

 
{% endfor %}

<h3>Stagiaire inscrit</h3>
{# {{stagiaireNonInscrit}} #}


<h3>Stagiaire non inscrit</h3>
{% for stagiaires in stagiaires %}
    {{stagiaires}} <a href="{{ path('addStagiaire_session' , {'id':session.id, 'idStagiaire':stagiaires.id}) }}">Ajouter a la sessions</a><br>
{% endfor %}
{% endblock %}
